:root {
    --primary-gradient: linear-gradient(135deg, #caf0d5, #89e0a3);
    --primary-color: #4b9c63;
    --secondary-gradient: linear-gradient(135deg, #e8e8e8, #cdcdcd);
    --secondary-color: #878787
  }
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container {
    margin: 5px;
    padding: 5px;
}
.h1 {
    padding: 0px;
    margin: 0px;
}
td{
    text-align: center;
}

.input-field {
    border: solid #b9b9b9 2px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
.input-field.input-date{
    padding: 4px;
}
.input-field.radio-group {
    padding-top: 1.5px;
    font-size: small;
}
.input-field.input-btn{
    border: solid #b9b9b9 2px;
}
.input-btn{    
    border-radius: 3px;
}
.input-btn.btn-primary {
    background: var(--primary-gradient);
    border: solid 1px var(--primary-color);
}
.input-btn.btn-secondary {
    background: var(--secondary-gradient);
    border: solid 1px var(--secondary-color);
}
.hide {
    display: none;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.cursor-pointer {
    cursor: pointer;
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}

button {
    margin: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
table {
    overflow-x: scroll;
    width: 100%;
    display: block;
}
form.view-only .input-field{
    pointer-events: none;
    opacity: 0.5;
}
